<%= provide :sidebar_guest, render("shared/login_form") %>
<div class="bg-white">
  <div class="bg-warning title-follow">
    <h3><%= @title %></h3>
  </div>
  <div class="row">
    <%= render @users %>
  </div>
  <%= paginate @users, theme: "twitter-bootstrap-3" %>
</div>
