<li class="nav-item start <%= yield :admin_root_path %>">
  <%= link_to admin_root_path, class: "nav-link nav-toggle" do %>
    <i class="icon-home"></i>
    <span class="title"><%= t ".dashboard" %></span>
    <span class="selected"></span>
    <span class="arrow"></span>
    <li class="nav-item"></li>
  <% end %>
</li>
