<li class="nav-item start <%= yield :admin_root_path %>">
  <a href="javascript:;" class="nav-link nav-toggle">
    <i class="icon-home"></i>
    <span class="title">Dashboard</span>
    <span class="selected"></span>
    <span class="arrow"></span>
  </a>
<li class="nav-item" style="display: none;"></li>
</li>
