<li class="nav-item <%= yield :users_menu %>">
  <%= link_to admin_users_path, class: "nav-link nav-toggle" do %>
    <i class="icon-user"></i>
      <span class="title"><%= t ".all_user" %></span>
      <span class="selected"></span>
      <span class="arrow"></span>
      <li class="nav-item"></li>
    <% end %>
</li>
