<li class="nav-item <%= yield :users_menu %>">
  <a href="javascript:;" class="nav-link nav-toggle">
    <i class="icon-user"></i>
    <span class="title">Users</span>
    <span class="arrow"></span>
  </a>
  <ul class="sub-menu">
    <li class="nav-item <%= yield :admin_users_path %>">
      <%= link_to admin_users_path, class: "nav-link" do %>
        <i class="icon-user"></i>
        <span class="title">All user</span>
      <% end %>
    </li>
    <li class="nav-item <%= yield :new_admin_user_path %>">
      <a href="page_user_profile_1_account.html" class="nav-link ">
        <i class="icon-user-female"></i>
        <span class="title">New user</span>
      </a>
    </li>
    </li>
  </ul>
</li>
