<div class="row white-space">
  <%= render "shared/flash_messages" %>
  <div class="col-md-8">
    <%= render "shared/slide_show" %>
  </div>
  <div class="col-md-4">
    <%= render "devise/shared/login_form" %>
  </div>
</div>
