<div class="dropdown">
    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
      <%= link_to "#" do %>
        <i class="fa fa-chevron-down"></i>
      <% end %>
    </span>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <%= link_to post_path(post),
        class: "edit_user_button", "data-toggle": "modal",
        href: "#edit_post_#{post.id}_id" do %>
        <span class="glyphicon glyphicon-edit"></span> Edit post
      <% end %>
      <%= link_to post_path(post), class: "delete-post",
        method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>Delete post
      <% end %>
    </li>
  </ul>
</div>
