$opacity-grey: #dbdbdb;
$link-color: #2f353b;
$link-hover: #313559;
$navbar-color-bottom: #2f4376;
$navbar-color-top: #436bb2;
$navbar-li-hover: #0f131c;
$red: #f00;
$red-opacity: #e73d4a;
$white: #fff;
