<div class="page-content-wrapper">
  <div class="page-content" style="min-height: 1001px;">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a href="index.html">Home</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span><%= yield :menu_name %></span>
        </li>
      </ul>
    </div>
    <h1 class="page-title">
      <%= yield :sub_menu_name %>
      <small><%= yield :sub_menu_describe %></small>
    </h1>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
