<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false"
      data-auto-scroll="true" data-slide-speed="200">
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler"></div>
      </li>
      <li class="sidebar-search-wrapper">
      </li>
      <%= render "admin/layouts/sidebar_menu/dashboard" %>
      <%= render "admin/layouts/sidebar_menu/user_manager" %>
    </ul>
  </div>
</div>
