<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Welcome | Social Wall</title>
    <%= render "layouts/include_assets" %>
  </head>
  <% if logged_in? %>
    <%= render "layouts/user" %>
  <% else %>
    <%= render "layouts/guest" %>
  <% end %>
</html>
